<h2>ADD NEW MOVIE</h2>

<form action="/movies/create" method="POST">

 <label for=''>Title</label>
  <input type='text' name='title'>

  <br>
  <label for=''>Genre</label>
  <input type='text' name='genre'>

  <br>
  <label for=''>Plot</label>
  <input type='text' name='plot'>

  <br>
  <label for=''>Cast</label>
  <select name='cast' multiple>
  <option disable selected value="">Select an Celebirty from the list</option>
    {{#each allCelebs}}
    <option value="{{this._id}}">{{this.name}}</option>
  {{/each}}
  </select>

  <br>
  <button type='submit'>ADD NEW MOVIE</button>

</form>

